In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("telecom_churn.csv")

In [13]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [14]:
pd.crosstab(df['churn'], df['international plan'])

KeyError: 'churn'

In [ ]:
df[(df['churn']==false) & (df['international plan']=='YES')]

In [ ]:
pd.crosstab(df['churn'], df['area code'])

In [ ]:
pd.crosstab(df['churn'], df['area code'],df['international plan'])

In [ ]:
df[(df['churn']==false) & (df['area code']==415)& (df['international plan']=='YES')]

In [4]:
#dfcolimns

In [12]:
columns_to_show=['total day minutes','total eve minutes']
df.groupby(['Churn'])[columns_to_show].mean()

KeyError: "Columns not found: 'total day minutes', 'total eve minutes'"

In [11]:
df1=df['total day minutes','total eve minutes','Churn']
df1[df1['Churn']==False].mean()

KeyError: ('total day minutes', 'total eve minutes', 'Churn')

In [10]:
columns_to_show=['total day minutes','total eve minutes',]
df.groupby(['Area code'])[columns_to_show].mean()

KeyError: 'churn'

In [15]:
df1=df['total day minutes','total eve minutes','Area code']
df1[df1['Area code']==False].mean()

KeyError: ('total day minutes', 'total eve minutes', 'Area code')

In [16]:
import numpy as np
df.groupby('Area code').agg({'Total night calls': np.mean}}

In [17]:
df.groupby('Area code').agg({'Total night calls': np.min}}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (3040156429.py, line 1)

In [18]:

df.groupby('Area code').agg({'Total night calls': np.min},{'Total night calls': np.mean}}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (1828568828.py, line 1)

In [19]:
df.pivot_table(['total days call','total night calls'])

KeyError: 'total days call'