In [1]:
list(range(0, -101, 2))

[]

In [3]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [4]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [5]:

l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [6]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [9]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [16]:
input_list = list(range(1,100))
output_dict = {}

output_dict= {val : val**3 for val in input_list if val % 3 == 0}
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [17]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [18]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [20]:
def func(x, y):
    z = x * y + x + y

func(2)

TypeError: func() missing 1 required positional argument: 'y'

In [22]:
def func(x, y ):
    z = x * y + x + y
    return z

func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [23]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [24]:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return ____- 2 * y - 2

ans_list = [func(x) for  ______ ]
ans_list

SyntaxError: invalid syntax (2442950264.py, line 6)

In [1]:
numbers = [12, 22, 33.66, 44, 77.8]
output = all(type(value) == "int" for value in numbers)
print(output)

False

In [2]:
cube_list = []
num_list = [12, 27, 33, 44, 55]

for value in num_list:
    if value % 2 == 0:
        cube_list.append(value ** 3)

In [4]:
cube_list = [value ** 3 for value in num_list ]
cube_list

[1728, 19683, 35937, 85184, 166375]

In [5]:
cube_list = [value ** 2 for value in num_list if value % 2 == 0 ]

In [6]:
cube_list

[144, 1936]

In [7]:
cube_list = [num ** 3 for value in num_list if value % 2 == 0]

NameError: name 'num' is not defined

In [10]:
cube_list = [value ** 3 for value in num_list if value % 2 == 0]
cube_list

[1728, 85184]

In [9]:
cube_list

[1728, 85184]

In [11]:
output = lambda x: 'Adult' if x > 18 else 'Teenager' 

print(output(22)) # function_call_1
print(output(15)) # function_call_2

Adult
Teenager

In [13]:
import time
sqrd_numbers = []

# Case_1
start_time = time.time()
for i in range(100000000):
    sqrd_numbers.append(i ** 2)
print('For loops: {}'.format(time.time() - start_time))

sqrd_number = []

# Case_2
start_time = time.time()
sqrd_number_2 = [(i ** 2) for i in range(100000000)]
print('List Comprehension: {}'.format(time.time() - start_time))

For loops: 53.29020714759827
List Comprehension: 53.02563691139221

In [14]:

df.loc[[2], ["S.No.", "Name", "Subject", "Percentage"]]

NameError: name 'df' is not defined