In [3]:
# Introduction to Python and Basic Syntax
print('Welcome to Python Session')
print('Upgrad')

Welcome to Python Session
Upgrad

In [4]:
print("$"*3)

$$$

In [10]:
# Variables
var = "Mike"
Var = "John"
print(var)
print(Var)
VAR = "Sally"
print(VAR)

Mike
John
Sally

In [12]:
number = input("What is your first number")
print(number)

What is your first number8
8

In [14]:
name = input("Enter your name : ")
print("Welcome", name)

Enter your name : John
Welcome John

In [17]:
integer_num = 10
floating_num = 1.3
abc = "John"
boolean = True

print(type(abc))

<class 'str'>

In [18]:
print(float(integer_num))

10.0

In [19]:
# Arithmatic Operations
a = 6
b = 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

13
-1
42
0.8571428571428571
279936

In [20]:
#PEDMAS 
print((4*5)-9+6/7)

11.857142857142858

In [21]:
abc = "We are learning basic syntax in python"
len(abc)

38

In [25]:
abc[1]

'e'

In [27]:
print(abc.upper())
print(abc.lower())

WE ARE LEARNING BASIC SYNTAX IN PYTHON
we are learning basic syntax in python

In [28]:
spaces = "    Trim whitespaces   "
print(spaces)
print(spaces.strip())

    Trim whitespaces
Trim whitespaces

In [29]:
print(spaces.count('e'))

2

In [30]:
A = "Data"
B = "Analysis"
C = "Python"

print("{0} {1} in {2}".format(A,B,C))

Data Analysis in Python

In [32]:
# Comparison Operators
a = 6
b = 10
print(a>b) # "==","!=",">","<",">=","<="

False

In [36]:
# logical operators (and, or, not)
x = 20
print(x>21 and x<25)
print(x>21 or x<25 )
print(not(x>21 or x<25))
print(not(x>21 and x<25))

False
True
False
True

In [38]:
# write a python program to find the square of number 5

num = 5
sq = num**2
print(sq)

25

In [40]:
num = int(input("Please enter the number you are looking to find a cube"))
cube = num**3
print(cube)

Please enter the number you are looking to find a cube2
8

In [41]:
# find the average of three numbers that is 10,20 and 30
a = 10
b = 20
c = 30
avg = (a+b+c)/3
print(avg)

20.0

In [42]:
# find the dollar equivalent for INR of amount entered by user and convert that in USD, 1 dollar = INR 82
INR = int(input("Enter the amount: ")) 
USD = INR/82 
print(USD)

Enter the amount: 1000
12.195121951219512

In [48]:
# if-else conditions
a = 300
b = 300
if b>a:
    print('b is greater than a')
elif a==b:
    print('a and b are equal')
else: 
    print('a is greater than b')

a and b are equal

In [51]:
score = int(input("Enter your test score: "))
passing = 40
distinction = 75

if score > distinction:
    print("You scored good marks, earned a distiction!")

if score >= passing and score < distinction:
   print("You have passed")
    
if score < passing:
   print("Sorry, you have failed")

Enter your test score: 65
You have passed

In [54]:
# accept two integers from the user and return their product
# if the product is greater than 1000, than output should be the sum of two integers rather than the product

a = int(input("First number: "))
b = int(input("Second number: "))
prod = a*b

if prod > 1000:
    print(a+b)
else:
    print(prod)

First number: 50
Second number: 2
100

In [ ]:
# write a program to print loan eligibility in case applied loan amount > 2* income then not eligible otherwise eligible for loan
income = int(input("Please provide your income: "))
 
loan_amount = int(input("Please provide your loan amount: "))

if loan_amount >2*income:
    print("You are not eligible for the loan")
else:
    print("Eligible for loan")

In [56]:
# for - while loops
# while loops

a = 10 #intialization
while a<20:
    print(a, "is less than 20")
    a = a+2 # iteration a+=1

10 is less than 20
12 is less than 20
14 is less than 20
16 is less than 20
18 is less than 20

In [64]:
# for loop - ranges, data structures (list, dictinaries etc)
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [65]:
# looping a string
my_string = "We are learning python"
for alphabet in my_string:
    print(alphabet)

W
e

a
r
e

l
e
a
r
n
i
n
g

p
y
t
h
o
n

In [ ]:
name = "Fred"
print(f"The name is {name}")