In [1]:
import pandas as pd

In [4]:
nums=[3,5,6,13,7,9,10,23]

In [5]:
pd.Series(nums)

0     3
1     5
2     6
3    13
4     7
5     9
6    10
7    23
dtype: int64

In [3]:
nums1=[3,5,6,13,7,9.7,10,23]

In [6]:
num_ser=pd.Series(nums)
num_ser

0     3
1     5
2     6
3    13
4     7
5     9
6    10
7    23
dtype: int64

In [7]:
type(num_ser)

pandas.core.series.Series

In [8]:
print(" Max Number --",num_ser.max())

 Max Number -- 23

In [9]:
print(" Min Number --",num_ser.min())

 Min Number -- 3

In [10]:
print(" Average Number --",num_ser.mean())

 Average Number -- 9.5

In [11]:
print(" Standard deviation Number --",num_ser.std())

 Standard Number -- 6.279217421667403

In [12]:
print(" Median Number --",num_ser.median())

 Median Number -- 8.0

In [15]:
print(" Nums values --",num_ser.values})

 Nums values -- [ 3  5  6 13  7  9 10 23]

In [16]:
s1=pd.Series([1,2],index=['a','b'], name='s1')
s2=pd.Series([3,4],index=['a','b'], name='s2')

In [17]:
s1

a    1
b    2
Name: s1, dtype: int64

In [18]:
s2

a    3
b    4
Name: s2, dtype: int64

In [19]:
# data loading

In [23]:
df=pd.read_csv("telecom_churn.csv")

In [25]:
#df.head() : display n rows from the data
df.head()

In [30]:
#.tail() :display  last 5 rows from the data
#.tails(): didplay the 
df.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [32]:
#.shape : number of rows and columns 
df.shape

(3333, 20)

In [34]:
#.size : number of data pont present in  data 
df.size

66660

In [36]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [37]:
df.columns.to_list()

['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

In [38]:
df.tail(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [ ]:
df.columns