In [ ]:
# Data structures - List, Tuples, Dictionaries, Sets

In [1]:
# list are muttable
a = ['apple','banana','kiwi','pineapple']
print(a)

['apple', 'banana', 'kiwi', 'pineapple']

In [2]:
type(a)

list

In [3]:
print(a[3])

pineapple

In [4]:
print(a[-3])

banana

In [6]:
print(a[:4])

['apple', 'banana', 'kiwi', 'pineapple']

In [8]:
if "grapes" in a:
    print("Yes, it's available in the list")
else:
    print("Not Available")

Not Available

In [9]:
a[2] = 'grapes'

In [17]:
print(a)

['apple', 'strawberry', 'banana', 'grapes', 'pineapple', 'kiwi', 'a', 'b', 'c']

In [11]:
a.append("kiwi")

In [13]:
a.insert(1,'strawberry')

In [15]:
b = ['a','b','c']

In [16]:
a.extend(b)

In [18]:
a.pop(3)

'grapes'

In [19]:
del a[4]
print(a)

['apple', 'strawberry', 'banana', 'pineapple', 'a', 'b', 'c']

In [20]:
a.sort()
print(a)

['a', 'apple', 'b', 'banana', 'c', 'pineapple', 'strawberry']

a.sort(reverse = True)

In [22]:
a.sort(reverse = True)
print(a)

['strawberry', 'pineapple', 'c', 'banana', 'b', 'apple', 'a']

In [23]:
c = [100,[82,30],24]
d = a + c
print(d)

['strawberry', 'pineapple', 'c', 'banana', 'b', 'apple', 'a', 100, 82, 30, 24]

In [24]:
# Tuples are immutable
a = ('apple','banana','kiwi')
print(a)

('apple', 'banana', 'kiwi')

In [25]:
type(a)

tuple

In [26]:
for x in d:
    print(x)

strawberry
pineapple
c
banana
b
apple
a
100
82
30
24

In [27]:
# Dictionaries
a = {'Emp Name': 'Karan',
    'Emp ID': 1234,
    'Emp Class': 'Data Science',
    'Emp Marks': 85}

In [28]:
a.keys()

dict_keys(['Emp Name', 'Emp ID', 'Emp Class', 'Emp Marks'])

In [29]:
a.values()

dict_values(['Karan', 1234, 'Data Science', 85])

In [32]:
a.items()

dict_items([('Emp Name', 'Karan'), ('Emp ID', 5678), ('Emp Class', 'Data Science'), ('Emp Marks', 85)])

In [31]:
a.update({'Emp ID': 5678})

In [33]:
# Sets
num = [1,3,4,4,2,5,5]
set_num = set(num)
set_num

{1, 2, 3, 4, 5}

In [34]:
len(set_num)

5

In [35]:
# sets operations
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [36]:
#union
print(A | B)
print(A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [37]:
# Intersection
print(A & B)
print(A.intersection(B))

{2, 4}
{2, 4}

In [38]:
# difference
print(A-B)
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [41]:
for a in range(1,11):
    print(a,end=" ")

1 2 3 4 5 6 7 8 9 10

In [43]:
cities = ['Hyd','Mum','Blr','Del']
for x in cities:
    print(x,end= " ")

Hyd Mum Blr Del

In [44]:
names = ['Alice','Bob','Dan']
age = [25,30,22]

for x,y in zip(names,age):
    print(x,y)

Alice 25
Bob 30
Dan 22

In [45]:
# for - break
for a in names:
    print(a)
    if a == 'Bob':
        break

Alice
Bob

In [47]:
# for - continue
for a in names:
    if a == "Bob":
       continue
    print(a)

Alice
Dan

In [48]:
# iterate through the list and print only those numbers which are divisble by 5
list1 = [10,20,25,21,34,55,60]
for x in list1:
    if x%5==0:
        print(x)

10
20
25
55
60

In [50]:
# accept a number from user as input and print it's table for a range (1,11)
a =  int(input("Please enter the number: "))
for x in range(1,11):
    product = a*x
    print(product)

Please enter the number: 5
5
10
15
20
25
30
35
40
45
50

In [52]:
# iterate over a dictionary
student_data = {1:['Sam',24],2:['Rob',25],3:['Jack',26],4:['Camry',24]}
for x,y in student_data.items():
    print(x,y)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Camry', 24]

In [53]:
for x in student_data.keys():
    print(x)

1
2
3
4

In [54]:
for x in student_data.values():
    print(x)

['Sam', 24]
['Rob', 25]
['Jack', 26]
['Camry', 24]

In [55]:
square_list = []

for x in range(1,11):
    square_list.append(x**2)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
#list comprehension
square_list = [x**3 for x in range(1,11)]
print(square_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [59]:
a = [1,2,3,4,5]
square = [x**2 for x in a]
print(square)

[1, 4, 9, 16, 25]

In [60]:
words = ['apple','banana','kiwi','pineapple']
length = [len(x) for x in words]
print(length)

[5, 6, 4, 9]

In [61]:
length = {x:len(x) for x in words}
print(length)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'pineapple': 9}

In [62]:
# dictionary comprehension
original = {'a':1,'b':2,'c':3,'d':4}
new = {x:y**3 for x,y in original.items()}
print(original)
print(new)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 8, 'c': 27, 'd': 64}

In [63]:
type(new)

dict

In [65]:
# python program to check whether the input number from a user is divisible by both 5 and 7 
#hint - num%7==0
num = int(input("Enter the number: "))
if ((num%5==0) and (num%7==0)):
   print(num, 'is divisible by 5 and 7')
else:
   print(num, 'is not divisible by 5 and 7')

Enter the number: 35
35 is divisible by 5 and 7

In [66]:
# program to display all the multiples of 3 in the range of 10 to 50
for x in range(10,50):
    if(x%3==0):
        print(x)

12
15
18
21
24
27
30
33
36
39
42
45
48

In [67]:
# write a program which takes a word as input and return vowel counts in that word

word = input("Enter word: ") 
vowels = [x for x in word if x in "aeiou" or "AEIOU"] 
print(vowels)

Enter word: Upgrad
['U', 'p', 'g', 'r', 'a', 'd']

In [68]:
vowels = 'aeiouAEIOU'
vowel_count = 0
word = input("Enter a word: ")
for char in word:
    if char in vowels:
        vowel_count += 1
print(vowel_count)

Enter a word: Upgrad
2

In [69]:
vowels = 'aeiou'
vowel_count = 0
word = input("Enter a word: ")
for char in word:
    if char in vowels:
        vowel_count += 1
print(vowel_count)

Enter a word: Upgrad
1

In [70]:
# given a list of product prices, we need to come up with a new list of discounted prices by 10%
prices = [50,70,120,300,450]
new = [x*0.9 for x in prices]
print(new)

[45.0, 63.0, 108.0, 270.0, 405.0]

In [72]:
prices = {'laptop': 35000,'smartphone': 15000,'Headphones': 12000, 'Tablet': 20000}
new = {x:y*0.9 for x,y in prices.items()}
print(new)

{'laptop': 31500.0, 'smartphone': 13500.0, 'Headphones': 10800.0, 'Tablet': 18000.0}

In [74]:
# functions
def greet():
    print('We are learning python')

In [75]:
greet()

We are learning python

In [77]:
def square(num):
    out = num**2
    return(out)

In [78]:
square(4)

16

In [79]:
def count_vowels(word):
    vowels = 'aeiouAEIOU'
    vowel_count = 0
    for char in word:
       if char in vowels:
         vowel_count += 1
    return vowel_count

In [82]:
count_vowels('Python is easy to learn')

7

In [84]:
# lambda function

product = lambda x,y : x+y
print(product(3,4))

7

In [86]:
#function to check whether number is even or odd

f =  lambda x: 'even' if x%2==0 else 'odd'
f(13)

'odd'